<!-- Validation failure messages -->
<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Item</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @item.name %>">
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Insert link" class="form-control" value="<%= @item.url %>">
      </div>

      <!-- Label and input for string -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comments
        </label>

        <input type="text" id="comment" name="comment" placeholder="Add comments" class="form-control" value="<%= @item.string %>">
      </div>

      <!-- Label and input for tagline -->
      <div class="form-group">
        <label for="tagline" class="control-label">
          Tagline
        </label>

        <input type="text" id="tagline" name="tagline" placeholder="Tagline" class="form-control" value="<%= @item.tagline %>">
      </div>

      <button class="btn btn-success">
        Create Item
      </button>
      or
      <a href="/items">Cancel</a>
    </form>
  </div>
</div>
